:root {
  --gray: #8b8b8b;

  --bkg-light: #fff;
  --text-light: #1c1e1f;

  --text-dark: #dddad5;
  --bkg-dark: #1c1e1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg: var(--bkg-dark);
    --text: var(--text-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bkg: var(--bkg-light);
    --text: var(--text-light);
  }
}

[color-scheme='dark'] {
  --bkg: var(--bkg-dark);
  --text: var(--text-dark);
}

[color-scheme='light'] {
  --bkg: var(--bkg-light);
  --text: var(--text-light);
}

.bkg--stroke {
  stroke: var(--bkg);
}

.theme {
  position: fixed;
  top: 5px;
  right: 20px;
  background-color: var(--text);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--bkg);
}

.theme:is(:hover, :focus) {
  opacity: 0.8;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--bkg);
  color: var(--text);
}

header {
  margin-top: 2rem;
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

a {
  padding: 5px;
  color: var(--gray);
}

#img-container img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0 0 30px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  color: var(--gray);
}

#bio {
  margin: 0 auto;
  width: 50%;
  line-height: 24px;
}

#portfolio {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 5rem;
}

.portfolio-container {
  margin-top: 2rem;
}

.portfolio-link {
  padding: 0;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 5%;
  padding-top: 2%;
}

.pdf {
  display: inline-block;
  min-width: 90%;
  min-height: 800px;
  margin: 5%;
}

@media (max-width: 768px) {
  #flex-container {
    flex-wrap: wrap;
    text-align: center;
  }
  #bio {
    width: 80%;
  }
  header h2 {
    font-size: 1.2rem;
  }
}
